<table width="297" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="297" class="bg9" style="height: 30px; padding-left: 19px;"><h2 class="text3">Recomendations</h2></td>
    </tr>
    <tr>
      <td class="bg7">
        <table width="259" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h3 class="text4">Movie x</h3></td>
          </tr>
          <tr>
            <td><h4 class="text5">04.20.2007</h4></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/homepage14.jpg" alt="" width="70" height="70" class="img1">

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc ipsum et orci. Aenean est. Cras eget
                diam. Phasellus vitae magna. Sed dictum. Quisque bibendum.
                <a href="#"><img src="images/homepage18.gif" alt="" width="7" height="7" border="0"></a><span class="bullet">&nbsp;</span>
              </p></td>
          </tr>
          <tr>
            <td><img src="images/spacer.gif" alt="" width="100" height="10"></td>
          </tr>
          <tr>
            <td><img src="images/homepage11.gif" alt="" width="100%" height="1"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h3 class="text4">Magna bibendum etiam</h3></td>
          </tr>
          <tr>
            <td><h4 class="text5">04.10.2007</h4></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/homepage15.jpg" alt="" width="70" height="70" class="img1">

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc ipsum et orci. Aenean est. Cras eget
                diam. Phasellus vitae magna. Sed dictum. Quisque bibendum.
                <span class="bullet">&nbsp;</span><a href="#"><img src="images/homepage18.gif" alt="" width="7" height="7" border="0"></a>
              </p></td>
          </tr>
          <tr>
            <td><img src="images/spacer.gif" alt="" width="100" height="10"></td>
          </tr>
          <tr>
            <td><img src="images/homepage11.gif" alt="" width="100%" height="1"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h3 class="text4">Condimentum sed ipsum</h3></td>
          </tr>
          <tr>
            <td><h4 class="text5">04.5.2007</h4></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/homepage16.jpg" alt="" width="70" height="70" class="img1">

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc ipsum et orci. Aenean est. Cras eget
                diam. Phasellus vitae magna. Sed dictum. Quisque bibendum.
                <span class="bullet">&nbsp;</span><a href="#"><img src="images/homepage18.gif" alt="" width="7" height="7" border="0"></a>
              </p></td>
          </tr>
          <tr>
            <td><img src="images/spacer.gif" alt="" width="100" height="10"></td>
          </tr>
          <tr>
            <td><img src="images/homepage11.gif" alt="" width="100%" height="1"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>