<table class="bg5" width="778" cellspacing="3" cellpadding="0" border="0" align="center">
  <tbody>
  <tr valign="top">
    <td width="297">
      <%= render "recommendations" %>
    </td>
    <td width="481">
        <%= render "movie_of_the_day" %>
        <%= render "movie_list" %><br/>

    </td>
  </tr>
  </tbody>
</table>
