<h1>Movie Administration</h1>
<br/>
<%= link_to "New Movie", new_admin_movie_path %>
<br/>
<br/>
<br/>
<% @movies.each do |movie| %>
    <%= link_to movie.title, edit_admin_movie_path(movie) %>
    <br/>
<% end %>
