<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title></title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link href="default.css" rel="stylesheet" type="text/css">
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="500" style=""><img src="images/homepage03.jpg" alt="" width="500" height="70"></td>
    <td width="278" class="bg2">
      <form name="form1" method="post" action="">
        <table width="240" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="images/spacer.gif" alt="" width="10" height="25"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/spacer.gif" alt="" width="48" height="20"></td>
            <td><input name="inputtext1" type="text" id="inputtext1"/></td>
            <td><img src="images/spacer.gif" alt="" width="10" height="20"></td>
            <td><input name="inputsubmit1" type="submit" id="inputsubmit1" value="Search"/></td>
          </tr>
        </table>
      </form>
    </td>
  </tr>
</table>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0" class="bg3" style="height: 30px;">
  <tr align="center">
    <td width="93"><a href="#" class="link1">home</a></td>
    <td width="93"><a href="#" class="link1">recent news </a></td>
    <td width="93"><a href="#" class="link1">downloads</a></td>
    <td width="93"><a href="#" class="link1">reviews</a></td>
    <td width="93"><a href="#" class="link1">articles</a></td>
    <td width="93"><a href="#" class="link1">community</a></td>
    <td width="93"><a href="#" class="link1">about us </a></td>
    <td width="93"><a href="#" class="link1">contact us </a></td>
    <td width="34">&nbsp;</td>
  </tr>
</table>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0" class="bg5">
<tr valign="top">
<td width="297">
  <table width="297" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="297" class="bg9" style="height: 30px; padding-left: 19px;"><h2 class="text3">Veroeros Etiam</h2></td>
    </tr>
    <tr>
      <td>
        <table width="259" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h3 class="text4">Lorem ipsum dolor</h3></td>
          </tr>
          <tr>
            <td><h4 class="text5">04.20.2007</h4></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/homepage14.jpg" alt="" width="70" height="70" class="img1">

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc ipsum et orci. Aenean est. Cras eget
                diam. Phasellus vitae magna. Sed dictum. Quisque bibendum.
                <a href="#"><img src="images/homepage18.gif" alt="" width="7" height="7" border="0"></a><span class="bullet">&nbsp;</span>
              </p></td>
          </tr>
          <tr>
            <td><img src="images/spacer.gif" alt="" width="100" height="10"></td>
          </tr>
          <tr>
            <td><img src="images/homepage11.gif" alt="" width="100%" height="1"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h3 class="text4">Magna bibendum etiam</h3></td>
          </tr>
          <tr>
            <td><h4 class="text5">04.10.2007</h4></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/homepage15.jpg" alt="" width="70" height="70" class="img1">

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc ipsum et orci. Aenean est. Cras eget
                diam. Phasellus vitae magna. Sed dictum. Quisque bibendum.
                <span class="bullet">&nbsp;</span><a href="#"><img src="images/homepage18.gif" alt="" width="7" height="7" border="0"></a>
              </p></td>
          </tr>
          <tr>
            <td><img src="images/spacer.gif" alt="" width="100" height="10"></td>
          </tr>
          <tr>
            <td><img src="images/homepage11.gif" alt="" width="100%" height="1"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h3 class="text4">Condimentum sed ipsum</h3></td>
          </tr>
          <tr>
            <td><h4 class="text5">04.5.2007</h4></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/homepage16.jpg" alt="" width="70" height="70" class="img1">

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc ipsum et orci. Aenean est. Cras eget
                diam. Phasellus vitae magna. Sed dictum. Quisque bibendum.
                <span class="bullet">&nbsp;</span><a href="#"><img src="images/homepage18.gif" alt="" width="7" height="7" border="0"></a>
              </p></td>
          </tr>
          <tr>
            <td><img src="images/spacer.gif" alt="" width="100" height="10"></td>
          </tr>
          <tr>
            <td><img src="images/homepage11.gif" alt="" width="100%" height="1"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h3 class="text4">Magna phasellus lorem</h3></td>
          </tr>
          <tr>
            <td><h4 class="text5">04.4.2007</h4></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><img src="images/homepage17.jpg" alt="" width="70" height="70" class="img1">

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc ipsum et orci. Aenean est. Cras eget
                diam. Phasellus vitae magna. Sed dictum. Quisque bibendum.
                <span class="bullet">&nbsp;</span><a href="#"><img src="images/homepage18.gif" alt="" width="7" height="7" border="0"></a>
              </p></td>
          </tr>
          <tr>
            <td><img src="images/spacer.gif" alt="" width="100" height="10"></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><img src="images/homepage19.jpg" alt="" width="297" height="233"></td>
    </tr>
    <tr>
      <td class="bg10" style="padding: 0px 19px 0 19px;"><h2 class="text6">Ipsum Aenean</h2></td>
    </tr>
    <tr>
      <td class="bg11" style="height: 51px; padding: 10px 19px 0 19px;">
        <p class="text7">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc eget neque. Nunc condimentum
          ipsum et</p></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</td>
<td width="481">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="images/homepage06.jpg" alt="" width="481" height="186"></td>
    </tr>
    <tr>
      <td><h1 class="text1" style="padding: 0px 21px 0 21px;">Aenean sed dolor</h1></td>
    </tr>
    <tr>
      <td class="bg4" style="padding: 0px 21px 0 21px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h2 class="text2">Magna bibendum etiam
              <span class="bullet">&nbsp;</span><a href="#"><img src="images/homepage18.gif" alt="" width="7" height="7" border="0"></a>
            </h2></td>
          </tr>
          <tr>
            <td><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc ipsum et orci. Aenean est. dolor.
              Quisque bibendum condimentum etiam dolor lorem ipsum dolor. <a href="#">Learn more&hellip;</a></p></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class="bg6" style="height: 30px; padding-left: 19px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="48%"><h2 class="text3">Blandit Consequat</h2></td>
            <td width="26%"><a href="#" class="link2">Lorem ipsum dolor</a></td>
            <td width="26%"><a href="#" class="link2">Etiam quisque</a></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class="bg7">
        <table width="435" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h3 class="text4">Magna bibendum etiam</h3></td>
          </tr>
          <tr>
            <td><h4 class="text5">04.10.2007</h4></td>
          </tr>
          <tr>
            <td><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc ipsum et orci. Aenean est. Cras eget
              diam. Phasellus vitae magna. Sed dictum. Quisque bibendum condimentum etiam dolor. Quisque bibendum
              condimentum etiam dolor lorem ipsum dolor.</p></td>
          </tr>
          <tr>
            <td><img src="images/homepage11.gif" alt="" width="100%" height="1"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h3 class="text4">Magna bibendum etiam</h3></td>
          </tr>
          <tr>
            <td><h4 class="text5">04.10.2007</h4></td>
          </tr>
          <tr>
            <td><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc ipsum et orci. Aenean est. Cras eget
              diam. Phasellus vitae magna. Sed dictum. Quisque bibendum condimentum etiam dolor. Quisque bibendum
              condimentum etiam dolor lorem ipsum dolor.</p></td>
          </tr>
          <tr>
            <td><img src="images/homepage11.gif" alt="" width="100%" height="1"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><h3 class="text4">Magna bibendum etiam</h3></td>
          </tr>
          <tr>
            <td><h4 class="text5">04.10.2007</h4></td>
          </tr>
          <tr>
            <td><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc ipsum et orci. Aenean est. Cras eget
              diam. Phasellus vitae magna. Sed dictum. Quisque bibendum condimentum etiam dolor. Quisque bibendum
              condimentum etiam dolor lorem ipsum dolor.</p></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class="bg6" style="height: 30px; padding-left: 19px;"><h2 class="text3">Aenean Sed Quisque</h2></td>
    </tr>
    <tr>
      <td>
        <table width="100%" border="0" cellpadding="9" cellspacing="1">
          <tr>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Curabitur et ante at mi congue pretium</a></td>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Curabitur</a></td>
          </tr>
          <tr>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Mauris lacus pellentesque nisl nulla</a></td>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Condimentum</a></td>
          </tr>
          <tr>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Blandit elementum in venenatis vitae nisl</a></td>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Venenatis nulla</a></td>
          </tr>
          <tr>
            <td class="bg8" style="padding-left: 21px;">
              <a href="#">Sociis natoque penatibus et magnis dis parturient</a></td>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Suspendisse</a></td>
          </tr>
          <tr>
            <td class="bg8" style="padding-left: 21px;">
              <a href="#">Montes nascetur ridiculus mus morbi cursus orci ac</a></td>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Risus arcu</a></td>
          </tr>
          <tr>
            <td class="bg8" style="padding-left: 21px;">
              <a href="#">Et magnis dis parturient montes nascetur ridiculus</a></td>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Rutrum amet</a></td>
          </tr>
          <tr>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Curabitur et ante at mi congue pretium</a></td>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Volutpat vel</a></td>
          </tr>
          <tr>
            <td class="bg8" style="padding-left: 21px;">
              <a href="#">Ligula. Aenean lorem cum sociis natoque penatibus</a></td>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Faucibus quis</a></td>
          </tr>
          <tr>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Blandit elementum in venenatis vitae nisl</a></td>
            <td class="bg8" style="padding-left: 21px;"><a href="#">Ligula sed</a></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</td>
</tr>
</table>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0" class="bg12">
  <tr>
    <td style="padding-left: 21px;">&nbsp;</td>
    <td style="padding-right: 21px;">&nbsp;</td>
  </tr>
  <tr>
    <td class="style1" style="padding-left: 21px;">Copyright © 2007 Sitename.com. All rights reserved.</td>
    <td align="right" class="style1" style="padding-right: 21px;"><a href="#">Terms of Use</a> | <a href="#">Privacy</a>
      | <a href="#">Legal Information</a></td>
  </tr>
  <tr>
    <td height="15" style="padding-left: 21px;">&nbsp;</td>
    <td style="padding-right: 21px;"><img src="images/spacer.gif" alt="" width="100" height="40"></td>
  </tr>
</table>
</td>
</tr>
</table>
</body>
</html>
